*.o
*.obj
*.exe
*.pdf
*.swf
*.ps
*.pyc
*.png
*.diff
*.PDF
*.wav
m
*dSYM
tags
lib/python/*.so
lib/python/*.dll
swfcombine
swfextract
swfdump
wav2swf
png2swf
jpeg2swf
swfstrings
swfc 
swfbbox
font2swf
src/pdf2pdf
gif2swf
pdf2swf
as3compile
swfbytes
swfrender
src/swfc
lib/*.a
c
t
r
cming
gen
Makefile
lib/pdf/Makefile
src/Makefile
swfs/Makefile
./Makefile
Makefile.common
Makefile.new
Makefile.depend
config.h
config.log
config.cache
libtool
release
config.status
3rdparty
autom4te.cache
aclocal.m4
build/
installer/files1.c
installer/files1.exe
installer/files2.c
installer/files2.exe
installer/installer.coff
installer/installer.upx
installer/makegui
installer/mkarchive
installer/swftools-small.bmp
installer/uninstall.exe
lib/pdf/switch
lib/pdf/xpdf*
swfs/PreLoaderTemplate
swfs/keyboard_viewer
swfs/simple_viewer
avi2swf/Makefile
lib/Makefile
lib/action/Makefile
lib/python/Makefile
lib/readers/Makefile
tmp/
